<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Insert title here</title>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#ffc266">
<div th:switch="${books}">
    <h2 th:case="null" align="center">No Books</h2>
    <div th:case="*">
        <h2 align="center">Books</h2>
        <table border="3" align="center">
            <thead>
            <tr>
                <th>Author Name</th>
                <th>Title</th>
                <th>Image URL</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.url}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>